.list-projects{
    li {
        margin-bottom: 2rem;
        a {
            /*
            font-size: 1.4rem;
            color: black;
            line-height: 1.5;
            font-weight: 300; 
            */
          }
      }
}