$gray: #282c34;
$red: #d90a28;
$blue: #004db5;
$yellow: #e0c504;


:root {
    --blanco: #ffffff;
    --gris1: #edf2f6;
    --gris2: #2f3848;
    --gris3: #1a202d;
    --negro: #000000;
    --headingFont:'Raleway', sans-serif;
    --textFont:  'Roboto', sans-serif;
  
}
*, *:before, *:after {
    box-sizing: inherit;
} 
  
html {
    box-sizing: border-box;
    height: 100%;
    font-size: 62.5%; 
}
  
body {
    min-height: 100%;
    background-color: var(--gris1);
    font-size: 16px; 
    font-size: 1.6rem;
    font-family: var(--textFont);
}


.alert {

    padding: 1rem 3rem;
    border-radius: 1rem;
    font-family: var(--headingFont);
    font-weight: 600;
    text-transform: uppercase;
    font-size: 2.2rem;
    text-align: center;
    width: 100%;
  }
  @media (min-width:768px) {
    .alert {
        width: auto;
        top: 30px;
        right: 10px;
        left: auto;
    }
  }
  
  .alert-ok {
    background-color: rgb(109, 211, 109);
    color: rgb(2, 103, 2);
  }
  .alert-error {
    
    color: #d90a28;;
   /* color: var(--blanco); */
  }