$gray: #282c34;

.form-new-project {
    margin-top: 5rem;
    .input-text {
        border-radius: 0;
        color: $gray;
      }
      .input-text::placeholder{
        color: $gray;
      }
  }

